ezpy.egg-info
dist
build/bdist.macosx-10.9-intel
ez_setup.pyc
setuptools-7.0-py2.7.egg
setuptools-7.0.zip
.venv/
*.db
*.pyc
*.c
*_setup.py
build/lib.macosx-10.10-intel-2.7/
build/temp.macosx-10.10-intel-2.7/